{
  "auth_mode": "{{ item.auth_mode }}",
  "ldap_url": "{{ item.ldap_url }}",
  "ldap_search_dn": "{{ item.ldap_search_dn }}",
  "ldap_search_password": "{{ item.ldap_search_password }}",
  "ldap_base_dn": "{{ item.ldap_base_dn }}",
  "ldap_uid": "{{item.ldap_uid}}"
}